html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color:white;
}

p{
    font-weight: bolder;
}

button,section{
    text-decoration: none;
    margin:5px 0px 5px 0px;
}




#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color:#007f7f ;
    padding: 10px;
    border-radius: 15px;
}

#create,#timer{
    background-color:#004c4c;
    padding: 5px; margin: 5px;
    width: 90%; 
    border-radius: 5px;
}

@media (max-width: 480px) {
    #main {
        height: 95%;
    }
}